
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/Account/Login" method="post">
        <div>
            <label>Kullanıcı Adı</label>
            <input type="text" name="Username" value="" />
        </div>
<div>
    <label>Şifre</label>
    <input type="password" name="Password" value="" />
</div>
        <div>
            <input type="submit" name="name" value="Giriş" />
        </div>
    
    </form>
</body>
</html>
